version: '3.8'
services:
  app:
    build: .
    ports:
      - '${PORT}:${PORT}'
    environment:
      - NODE_ENV=development
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      - redis
    command: npm run dev:alt
  redis:
    image: 'redis:alpine'
    container_name: redis_2
    volumes:
      - redis_data:/data
volumes:
  redis_data:
